<div layout="row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1">
        Левый сайд бар
    </md-sidenav>
    <div layout="column" tabindex="-1" role="main" flex>
        <md-toolbar class="md-whiteframe-z2 site-content-toolbar md-default-theme">
            Верхняя панель
        </md-toolbar>
        <md-content md-scroll-y flex layout-padding class="ng-scope md-dafeult-theme">
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
              Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>
            Контентная часть<br>


        </md-content>
    </div>
</div>